body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #4F959D;
}
.container-fluid{
    padding: 1.5% 4%
}
.navbar-brand{
    font-size: 3rem;
}
.nav-item{
    font-size: 1.5rem;
}
#title{
    color: #000;
}
